{{=< >=}}(ns <baseNamespace>.specs
  (:require <#models><#model>[<baseNamespace>.spec.<classname> :as <classname>]
            </model></models>)
  (:import (java.io File)))

<#models><#model>
(def <classname>      <classname>/<classname>)
(def <classname>-spec <classname>/<classname>-spec)
</model></models>